*{
    font-family: Oswald, sans-serif;
}
:root {
    --background-color: black;
    --text-color: hsl(0, 0%, 100%);
    --background-color2: #1E1C1C;
    --secondary-color: #FF4545;
}

body {
    background-color: var(--background-color2);
    color: var(--text-color);
        font-family: "Oswald";

}

.games {
    color: white;
    background-color: black;
    border : solid black; 

    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 2.5%;
    margin-left: 2.5%;

    padding: 10px;
    display: inline-block;
    text-align: center;
    width: 20%;
    transition: border-color 0.3s ease;
}
.games:hover {
    color: white;

    border: 3px solid var(--secondary-color);

}
.game-image {
    width: 250px;
    height: 350px;
    object-fit: cover;
    border: 5px solid white;
    margin-bottom: 10px;
    display: block;
    align-items: center;
    display: inline-flex;
    border: 3px solid white;
    border-radius: 0px;


}


footer {
    color: black;
    background-color: var(--background-color2);

    padding: 20px;
    margin: 20px;
    text-align: center;
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 2.5%;
    margin-bottom: 2.5%;
    transition: border-color 0.3s ease;
    text-decoration: none;
    font-family: "Oswald";

}

footer a {
    text-decoration: none; 
    color: white; 
    font-size: 20px;
    border: 2px solid white; 
    padding: 10px; 
    padding-top: 7px;
    display: inline-block; 
    border-radius: 5px; 
    display: flex;
    align-items: center; 
    justify-content: center;
}
footer a:hover {
    background-color: white;
    color: black;
}
#pageBody {
    background-color: var(--background-color2);
    margin-top: 120px;
}

.average-score-box {
    border: 2px solid white; 
    padding: 10px; 
    border-radius: 5px;   
    background-color: var(--background-color2); 
    color: white;          
    text-align: center;    
    width: fit-content;     
    margin: 10px auto;      
}
.nameText{
    font-size: 20px;
    font-family: "Oswald";
}
